<h1>Contur</h1>

<a href="{% url 'upload' %}" class="button">Upload New Data</a>

<h2>Runcards and Results</h2>
{% if runcard_list %}
<a href="{% url 'export' %}" class="button">Create or Export Run Card</a>
    <ul>
    {% for r in runcard_list %}
        <li>
            <a href="{% url 'runcard' r.runcard_name %}">{{ r.runcard_name }}</a>
        </li>
    {% endfor %}
    </ul>
{% else %}
    <p>No results are available.</p>
{% endif %}

<h2>Model scans</h2>
{% if models_list %}
    <ul>
    {% for m in models_list %}
        <li>
            <a href="{% url 'model' m.name %}">{{ m.name }}</a>
        </li>
    {% endfor %}
    </ul>
{% else %}
    <p>No model scans are available.</p>
{% endif %}

<h2>Analysis pools</h2>
{% if analysis_pools %}
    <ul>
    {% for pool in analysis_pools %}
        <li>
        	<a href="{% url 'pools' pool.pool %}">{{ pool.pool }}</a>
        	[{{ pool.analysis_set.all | length }}]
        </li>
    {% endfor %}
    </ul>
{% else %}
    <p>No analyses are available.</p>
{% endif %}



<h2>Analyses</h2>
{% if analysis_list %}
    <ul>
    {% for ana in analysis_list %}
        <li>
            <a href="{% url 'analysis' ana.anaid %}">{{ ana.anaid }}</a>:
            luminosity factor {{ ana.lumi }} Pool {{ ana.pool }}
        </li>
    {% endfor %}
    </ul>
{% else %}
    <p>No analyses are available.</p>
{% endif %}



<h2>Keywords</h2>
<a href="{% url 'load_kws' %}" class="button">Fetch Keywords from Inspire</a>
{% if keywords_list %}
    <ul>
    {% for key in keywords_list %}
        <li>
            <a href="{% url 'keyword' key.key_word %}">{{ key.key_word }}</a>
            [{{ key.linked_keys_set.all | length }}]
        </li>
    {% endfor %}
    </ul>
{% else %}
    <p>No keywords are available.</p>
{% endif %}
