
<!DOCTYPE html PUBLIC "-//W3C//DTD HTML 4.01//EN" "http://www.w3.org/TR/html4/strict.dtd">

{% load static %}
    <html>
<head>
<style>
table {
    font-family: arial, sans-serif;
    border-collapse: collapse;
    width: 100%;
}

td, th {
    border: 1px solid #dddddd;
    text-align: left;
    padding: 8px;
}

tr:nth-child(even) {
    background-color: #dddddd;
}
</style>
</head>
<body>
      <meta http-equiv="Content-type" content="text/html;charset=UTF-8">
      <title>
        Contur Results and Data (Cord)
      </title>
      <link rel="shortcut icon" href="/favicon.ico">
      <link rel="stylesheet" type="text/css" href="{% static 'corad.css' %}">
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
    <script type="text/javascript">
      var DOCUMENTATION_OPTIONS = {
        URL_ROOT:    './',
        VERSION:     '1.0',
        COLLAPSE_INDEX: false,
        FILE_SUFFIX: '.html',
        HAS_SOURCE:  true
      };
    </script>
    <script type="text/javascript" src="{% static 'jquery.js' %}"></script>
    <script type="text/javascript" src="{% static 'underscore.js' %}"></script>
    <script type="text/javascript" src="{% static 'doctools.js' %}"></script>
    <script type="text/javascript" src="https://cdn.mathjax.org/mathjax/latest/MathJax.js?config=TeX-AMS-MML_HTMLorMML"></script>

        <div class="container">
            <div class="toppane"><h1>Contur Results and Data (Cord)</h1>

        <form id="searchform" action="{% url 'personalisation'%}" method="get" accept-charset="utf-8">
          <button class="searchbutton" type="submit" style="height:40px;width:100px">
            <i class="fa fa-search"></i>View User Dashboard
          </button>
          <input class="searchfield" id="searchbox" name="q" type="text" placeholder="Author/Creator Name">
        </form>


        <form id="searchform2" action="{% url 'querying'%}" method="get" accept-charset="utf-8">
          <button class="searchbutton" type="submit" style="height:40px;width:100px">
            <i class="fa fa-search"></i>Search Data
          </button>
          <input class="searchfield" id="searchbox2" name="q" type="text" placeholder="Data Content">
        </form>

        <form action="{% url 'index'%}">
            <input type="submit" value="Return to Home" />
        </form>



        </div>

            <div class="tleftpane"><h1><center>Contur BSM Models</center></h1>
                <center><a href="{% url 'ufo_home' %}" class="button">Add New BSM Model</a></center>
                {% if models_list %}
                    <table>
                        <tr>
                        <th>Name</th>
                            </tr>
                    {% for m in models_list %}
                        {% cycle '' '<tr>'%}
                            <td><a href="{% url 'model' m.name %}">{{ m.name }}</a></td>
                        {% cycle '' '</tr>' %}
                    {% endfor %}
                    </table>
                {% else %}
                    <p>No model scans are available.</p>
                {% endif %}
            </div>

            <div class="trightpane"><h1><center>Results</center></h1>

                    {% if results_list %}
                        <table>
                            <tr>
                        <th>Name</th>
                                <th>Model</th>
                                <th>Creator</th>
                            </tr>
                        {% for n in results_list %}
                            {% cycle '' '<tr>'%}
                                <td><a href="{% url 'results' n.name %}">{{ n.name}}</a></td>
                                <td>{{n.runcard.modelname}}</td>
                                <td>{{n.author}}</td>
                            {% cycle '' '</tr>' %}
                        {% endfor %}
                        </table>
                    {% else %}
                        <p>No results are available.</p>
                    {% endif %}

            </div>


            <div class="bleftpane"><h1><center>Runcards</center></h1>
                <center><a href="{% url 'export' %}" class="button">Create or Export Run Card</a></center>
                {% if runcard_list %}

                    <table>
                        <tr>
                        <th>Name</th>
                                <th>Author</th>
                                <th>Model</th>
                            <th>Date</th>
                            </tr>
                    {% for r in runcard_list %}
                        {% cycle '' '<tr>'%}
                            <td><a href="{% url 'runcard' r.runcard_name %}">{{ r.runcard_name }}</a></td>
                            <td>{{r.author}}</td>
                            <td>{{r.modelname}}</td>
                            <td>{{r.now}}</td>
                        {% cycle '' '</tr>' %}
                    {% endfor %}
                    </table>
                {% else %}
                    <p>No results are available.</p>
                {% endif %}
            </div>
            <div class="bmiddlepane"><h1><center>Analyses</center></h1>
                <center><a href="{% url 'upload' %}" class="button">Upload Analyses</a></center>
                {% if analysis_list %}
                    <table>
                        <tr>
                        <th>Analysis</th>
                        <th>Luminosity Factor</th>
                        <th>Pool</th>
                        </tr>
                    {% for ana in analysis_list %}
                        {% cycle '' '<tr>'%}
                            <td><a href="{% url 'analysis' ana.anaid %}">{{ ana.anaid }}</a></td>
                            <td>{{ ana.lumi }}</td> <td>{{ ana.pool }}</td>
                        {% cycle '' '</tr>' %}
                    {% endfor %}
                    </table>
                {% else %}
                    <p>No analyses are available.</p>
                {% endif %}
            </div>
            <div class="brightpane"><h1><center>Analyses Pools</center></h1>
                    <center><a href="{% url 'pool_input' %}" class="button">New Pool</a></center>
                    {% if analysis_pools %}
                        <table>
                            <tr>
                        <th>Pool</th>
                        <th>Analysis Count</th>
                            </tr>
                        {% for pool in analysis_pools %}
                            {% cycle '' '<tr>'%}
                                <td><a href="{% url 'pools' pool.pool %}">{{ pool.pool }}</a></td>
                                <td>[{{ pool.analysis_set.all | length }}]</td>
                            {% cycle '' '</tr>' %}
                        {% endfor %}
                        </table>
                    {% else %}
                        <p>No analyses are available.</p>
                    {% endif %}
            </div>
        </div>

