<!DOCTYPE html PUBLIC "-//W3C//DTD HTML 4.01//EN" "http://www.w3.org/TR/html4/strict.dtd">

{% load static %}
    <html>
<head>
<style>
table {
    font-family: arial, sans-serif;
    border-collapse: collapse;
    width: 100%;
}

td, th {
    border: 1px solid #dddddd;
    text-align: left;
    padding: 8px;
}

tr:nth-child(even) {
    background-color: #dddddd;
}
</style>
</head>
<body>
      <meta http-equiv="Content-type" content="text/html;charset=UTF-8">
      <title>
        Contur Results and Data (CoDaR)
      </title>
      <link rel="shortcut icon" href="/favicon.ico">
      <link rel="stylesheet" type="text/css" href="{% static 'corad_form.css' %}">
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
    <script type="text/javascript">
      var DOCUMENTATION_OPTIONS = {
        URL_ROOT:    './',
        VERSION:     '1.0',
        COLLAPSE_INDEX: false,
        FILE_SUFFIX: '.html',
        HAS_SOURCE:  true
      };
    </script>
    <script type="text/javascript" src="{% static 'jquery.js' %}"></script>
    <script type="text/javascript" src="{% static 'underscore.js' %}"></script>
    <script type="text/javascript" src="{% static 'doctools.js' %}"></script>
      <script type="text/javascript" src="{% static 'drag_drop.js' %}"></script>
      <script src="http://jqueryui.com/jquery-1.7.2.js"></script>
	<script src ="http://jqueryui.com/ui/jquery.ui.core.js"></script>
	<script src="http://jqueryui.com/ui/jquery.ui.widget.js"></script>
	<script src="http://jqueryui.com/ui/jquery.ui.mouse.js"></script>
	<script src="http://jqueryui.com/ui/jquery.ui.draggable.js"></script>
	<script src="http://jqueryui.com/ui/jquery.ui.droppable.js"></script>
    <script type="text/javascript" src="https://cdn.mathjax.org/mathjax/latest/MathJax.js?config=TeX-AMS-MML_HTMLorMML"></script>

        <div class="container">
            <div class="toppane"><h1>Upload New Analysis</h1><p><a href="{% url 'index' %}">Return to index</a></p></div>

            <div class="tleftpane"><h1><center>New Analysis Details</center></h1>
            {% block content %}
                <form method="post" enctype="multipart/form-data">
                  {% csrf_token %}
                  {{ form.as_p }}
                  <button type="submit">Upload</button>
                </form>


              {% endblock %}
                </div>

            <div class="trightpane"><h1><center>Rivet Analyses (For reference)</center></h1>
                        <div draggable="true" ondragstart="onDrag(event)"><iframe src="http://rivet.hepforge.org/analyses/"
                  width="100%" height="500" frameborder="1"
                  allowfullscreen sandbox>
              <p> <a href="https://developer.mozilla.org/en-US/docs/Glossary">
                Fallback link for browsers that don't support iframes
              </a> </p>
</iframe>
            </div></div>

        </div>