
{% if rc.results_table_set.all %}
	<ul>
    {% for res in rc.results_table_set.all %}
					<h3>Runcard Name: <a>{{ res.runcard }}</a></h3>
					<li>
							MC Generator Version: <a>{{ res.mc_ver }}</a>
					</li>
					<li>
              Contur Version: <a>{{ res.contur_ver }}</a>
					</li>
					<li>
							Yoda File Location: <a>{{ res.yoda_file }}</a>
          </li>
					<p></p>

    {% endfor %}
    </ul>
{% else %}
	<p>No results are available.</p>
{% endif %}
<p><a href="{% url 'index' %}">Return to index</a></p>
